default:
  image:
    name: $KQC_IMAGE_REPOSITORY
    entrypoint: ['']
  cache:
    key: "$CI_PROJECT_ID-$CI_COMMIT_REF_SLUG"
    paths:
      - .pip-cache
  before_script:
    - ci/init_kqc.sh
  tags:
    - docker

test:
  stage: test
  parallel:
    matrix:
      - KLAYOUT_VERSION: [0.26.7, 0.26.12, 0.27.13, 1.latest]
  script:
    - pip install --force-reinstall "klayout<=$KLAYOUT_VERSION"
    - tox -e matrix
  artifacts:
    reports:
      junit: test_report.xml
  only:
    - master
    - merge_requests
    - tags

static_analysis:
  stage: test
  script:
    - pip install pylint-gitlab
    - export CODEQUALITY_JSON=codeclimate.json CODEQUALITY_NB_JSON=codeclimate_nb.json
    - >
      tox -e static_analysis --
      --exit-zero
      --output-format=pylint_gitlab.GitlabCodeClimateReporter
      --output=
    - jq -s add "$CODEQUALITY_JSON" "$CODEQUALITY_NB_JSON" > codeclimate_merged.json
    - if [ $(jq '. | length' codeclimate_merged.json) != "0" ]; then exit 1; else exit 0; fi  # raise error if not empty
  artifacts:
    reports:
      codequality: codeclimate_merged.json
    when: always
  only:
    - master
    - merge_requests
    - tags

shell_check:
  stage: test
  script:
    - find . -type f \( -name '*.sh' \) | xargs shellcheck
  only:
    - master
    - merge_requests
    - tags

layer_properties:
  stage: test
  script:
    - python util/check_layer_props.py
  only:
    - master
    - merge_requests
    - tags

verify_documentation:
  stage: test
  script:
    - cd docs
    - make html SPHINXOPTS="-W --keep-going"
  after_script:
    - echo "See documentation at $KQC_GITLAB_PAGES/-/jobs/$CI_JOB_ID/artifacts/docs/_build/html/index.html"
  artifacts:
    expose_as: 'HTML docs PNG and OAS files'
    paths:
    - docs/pcell_images/
    - docs/_build/html/
    expire_in: 1 week
    when: always
  only:
    - merge_requests

check_package_building:
  stage: test
  script:
    - python3 -m pip install --upgrade build twine
    - cd klayout_package/python
    - python3 -m build
    - python3 -m twine check dist/*
  only:
    - merge_requests

check_confidential_strings:
  stage: test
  variables:
    GIT_DEPTH: 0
    GIT_STRATEGY: clone
    FILTER_BRANCH_SQUELCH_WARNING: 1
  script:
    - pip install nbconvert
    # go through relevant history and clear output from notebooks
    - >
      git filter-branch --tree-filter
      'python3 -m nbconvert --clear-output --inplace notebooks/*.ipynb || true'
      -- $(git merge-base remotes/origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME HEAD)..HEAD
    - python3 -m nbconvert --clear-output --inplace notebooks/*.ipynb
    - >
      bash ci/check_files_for_strings.sh "$KQC_CONFIDENTIAL_STRINGS"
      "remotes/origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME" "remotes/origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME"
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

check_copyright_headers:
  stage: test
  script:
    - >
      python ci/check_copyright_headers.py --exclude-paths
      klayout_package/python/kqcircuits/_static_version.py
      klayout_package/python/kqcircuits/_version.py
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

check_license:
  stage: test
  script:
    - sha256sum -c ci/license_manifest.txt
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

pages:
  stage: deploy
  script:
    - Xvfb :99 -screen 0 640x480x24 -nolisten tcp &
    - cd docs
    - make html SPHINXOPTS="-W --keep-going"
    - find _build/html -name "*.html" -exec sed -i "s#github.com/iqm-finland/KQCircuits#$KQC_REPOSITORY_STRING#g" {} +
    - mv _build/html ../public
  artifacts:
    paths:
    - public
  only:
    - master

.kaniko:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json

deploy_image:
  extends: .kaniko
  stage: deploy
  script:
    - |
      if expr $CI_COMMIT_REF_NAME : "v[0-9]\+.\?[0-9]\+\?.\?[0-9]\+\?" ; then
          export "LATEST=--destination $CI_REGISTRY_IMAGE:latest"
      fi
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/ci/Dockerfile
      --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
      --cache-repo=$CI_REGISTRY_IMAGE/cache
      --cache=true
      --build-arg KL_FILE=klayout_0.27.12-1_amd64.deb
      --build-arg KL_HASH=f5fbb6b33f96008bc7037c43b0bd6f24
      $LATEST
  only:
    - master
    - tags

test_image:
  extends: .kaniko
  stage: test
  script:
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/ci/Dockerfile
      --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
      --cache-repo=$CI_REGISTRY_IMAGE/cache
      --cache=true
      --build-arg KL_FILE=klayout_0.27.12-1_amd64.deb
      --build-arg KL_HASH=f5fbb6b33f96008bc7037c43b0bd6f24
      --no-push
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"
