image: gitlab.iqm.fi:5005/iqm/qe/kqcircuits:kqc-test-02

cache:
  key: "$CI_PROJECT_ID-$CI_COMMIT_REF_SLUG"
  paths:
    - .pip-cache

before_script:
  - mkdir -p $HOME/.klayout/python .pip-cache
  - pip --cache-dir=.pip-cache install -e ".[docs,tests]"
  - python setup_within_klayout.py

test:
  stage: test
  script:
    - tox
  artifacts:
    reports:
      junit: test_report.xml
  only:
    - master
    - merge_requests
    - tags
  tags:
    - docker

verify_documentation:
  stage: test
  script:
    - Xvfb :99 -screen 0 640x480x24 -nolisten tcp &
    - cd docs
    - make html SPHINXOPTS="-W --keep-going"
  only:
    - merge_requests
  tags:
    - docker

check_confidential_strings:
  stage: test
  script:
    - bash check_files_for_strings.sh "$KQC_CONFIDENTIAL_STRINGS"
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"
  tags:
    - docker


pages:
  stage: deploy
  script:
    - Xvfb :99 -screen 0 640x480x24 -nolisten tcp &
    - cd docs
    - make html SPHINXOPTS="-W --keep-going"
    - mv _build/html ../public
  artifacts:
    paths:
    - public
  only:
    - master
  tags:
    - docker
