default:
  image:
    name: gitlab.iqm.fi:5005/iqm/qe/kqcircuits
    entrypoint: ['']
  cache:
    key: "$CI_PROJECT_ID-$CI_COMMIT_REF_SLUG"
    paths:
      - .pip-cache
  before_script:
    - ci/init_kqc.sh
  tags:
    - docker

test:
  stage: test
  parallel:
    matrix:
      - KLAYOUT_VERSION: [0.26.7, 0.26.12, 1.latest]
  script:
    - pip install --force-reinstall "klayout<=$KLAYOUT_VERSION"
    - tox -e matrix
  artifacts:
    reports:
      junit: test_report.xml
  only:
    - master
    - merge_requests
    - tags

static_analysis:
  stage: test
  script:
    - pip install pylint-gitlab
    - >
      tox -e static_analysis --
      --output-format=pylint_gitlab.GitlabCodeClimateReporter
      --output=codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
    when: always
  only:
    - master
    - merge_requests
    - tags

verify_documentation:
  stage: test
  script:
    - Xvfb :99 -screen 0 640x480x24 -nolisten tcp &
    - cd docs
    - make html SPHINXOPTS="-W --keep-going"
  only:
    - merge_requests

check_confidential_strings:
  stage: test
  script:
    - bash check_files_for_strings.sh "$KQC_CONFIDENTIAL_STRINGS"
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

check_copyright_headers:
  stage: test
  script:
    - >
      python check_copyright_headers.py --exclude-paths
      klayout_package/python/kqcircuits/_static_version.py
      klayout_package/python/kqcircuits/_version.py
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

check_license:
  stage: test
  script:
    - sha256sum -c license_manifest.txt
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"

pages:
  stage: deploy
  script:
    - Xvfb :99 -screen 0 640x480x24 -nolisten tcp &
    - cd docs
    - make html SPHINXOPTS="-W --keep-going"
    - find _build/html -name "*.html" -exec sed -i 's#github.com/iqm-finland/KQCircuits#$KQC_REPOSITORY_STRING#g' {} +
    - mv _build/html ../public
  artifacts:
    paths:
    - public
  only:
    - master

.kaniko:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json

deploy_image:
  extends: .kaniko
  stage: deploy
  script:
    - |
      if expr $CI_COMMIT_REF_NAME : "v[0-9]\+.\?[0-9]\+\?.\?[0-9]\+\?" ; then
          export "LATEST=--destination $CI_REGISTRY_IMAGE:latest"
      fi
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/ci/Dockerfile
      --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
      --cache-repo=$CI_REGISTRY_IMAGE/cache
      --cache=true
      $LATEST
  only:
    - master
    - tags

test_image:
  extends: .kaniko
  stage: test
  script:
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/ci/Dockerfile
      --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
      --cache-repo=$CI_REGISTRY_IMAGE/cache
      --cache=true
      --no-push
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"