/*
green: #00e397
light blue: #002c67
dark blue: #00274d
white: #d9d9d9
red: #f8003a
orange: #ff9900
link-blue: #1178e2
light grey: #f7f7f7
gradient blue: #759deb
gradient green: #5fdd97
black: #000000
*/

body {
 font-family: "Microsoft Sans Serif", sans-serif;
}

a {
    color: grey;
}

.wy-side-nav-search {
    background-color: #ffffff !important;
}

.wy-side-nav-search a {
    color: #000000 !important;
}

.wy-breadcrumbs a:visited{
    color: grey !important;
}

.wy-nav-side {
    background-color: #000000 !important;
}

.wy-nav-top {  /* Mobile nav */
    background-color: #000000 !important;
}

.wy-menu-vertical a {
    color: #ffffff !important;
}

.wy-menu-vertical a:hover {
    color: #ffffff !important;
}

.wy-menu-vertical a:visited {
    color: #ffffff !important;
}

.wy-menu-vertical li.on>a, .wy-menu-vertical li.current>a {
    color: #f7f7f7 !important;
}

.wy-menu-vertical li.current a {
    color: #000000 !important;
}

.wy-menu-vertical li.current a:hover {
    background-color: #ffffff !important;
}
